/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

/* Overlay Styles */
.overlay {
  background: rgba(0, 0, 0, 0.5);
}

/* Owl Carousel Styles */
.owl-carousel .item {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

/* Quicksand Font Classes */
.quicksand-light {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.quicksand-normal {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand-medium {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-semibold {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@keyframes pulse-wave-blue {
  0% {
    box-shadow: rgba(59, 130, 246, 0) 0px 0px 0px 0px;
  }
  50% {
    box-shadow: rgba(59, 130, 246, 0.4) 0px 0px 0px 4px;
  }
  100% {
    box-shadow: rgba(59, 130, 246, 0) 0px 0px 0px 8px;
  }
}

.wave-glow-blue {
  animation: pulse-wave-blue 1.5s ease-out infinite;
}

.wave-glow-blue-delayed {
  animation: pulse-wave-blue 1.5s ease-out infinite 0.2s;
}
